@import "compass/utilities/general/float";

// First and second sidebar widths are used for all layouts.
$zen-first-sidebar-width: 200px !default;
$zen-second-sidebar-width: 200px !default;
$zen-content-width: 560px !default;

// Added to nested div.section in sidebar regions as inside margin.
$zen-gutter: 20px !default;

// Added to all main regions as top margin.
$zen-navigation-height: 2.3em !default;

// Page width (fixed) or min-width (liquid) is sum of content and sidebars.
$zen-page-width: $zen-first-sidebar-width + $zen-content-width + $zen-second-sidebar-width !default;

@mixin zen-region-visibility {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

// $width: width of the region
// $first-margin: first with respect to reading direction.
//   - LTR: left margin
//   - RTL: right margin
// $first: the first side with respect to reading direction
//   - LTR: left
//   - RTL: right

@mixin zen-region($width, $first-margin: 0, $first: "left") {
  width: $width;
  @include zen-region-layout($width, $first-margin, $first);
  padding: 0; /* DO NOT CHANGE. Add padding or margin to region's .section. */
}

@mixin zen-region-layout($width, $first-margin: 0, $first: left) {
  @include float($first); /* LTR */
  margin: {
    #{$first}: $first-margin; /* LTR */
    #{opposite-position($first)}: -($width + $first-margin); /* LTR */ /* Negative value of region's width + left margin. */
  }
}
