/**
 * @file
 * RTL companion for the layout-liquid.css file.
 */

@import "layout";

/*
 * Content
 */
#content {
  @include zen-region(100%, 0, "right");
}

.sidebar-first #content .section {
  padding-left: 0; /* The width + left margin of .region-sidebar-first. */
  padding-right: $zen-first-sidebar-width;
}

.sidebar-second #content .section {
  padding-left: $zen-second-sidebar-width;
  padding-right: 0; /* The width + right margin of .region-sidebar-second. */
}

/*
 * Navigation
 */
#navigation {
  @include zen-region(100%, 0, "right");
}

/*
 * First sidebar
 */
.region-sidebar-first {
  @include zen-region($zen-first-sidebar-width, 0, "right");
}

.region-sidebar-first .section {
  margin: 0 0 0 $zen-gutter;
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  @include zen-region($zen-second-sidebar-width);
}

.region-sidebar-second .section {
  margin: 0 $zen-gutter 0 0;
}
